.window {
    transition: none;
}

body {
    transition: none;
}

div.taskbar {
    transition: none;
}

* {
    transition: none;
}

button {
    transition: none;
}

div.startMenu {
    transition-property: none;
    transition-duration: 0;
}

div.clockWidget {
    transition-property: none;
    transition-duration: 0;
}

.context-menu {
    transition: none;
}

.context-menu ul {
    transition: none;
}

.context-menu ul li {
    transition: none;
}

.context-menu ul li a {
    transition: none;
}

.notification {
    transition-property: none;
    transition-duration: 0;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=checkbox],
    input[type=radio] {
        transition: none;
    }
    input[type=checkbox]:after,
    input[type=radio]:after {
        transition: none;
    }
}

* {
    transition: none;
}