div.clockWidget {
    right: 5px;
    top: 45px;
    bottom: unset;
}

div.startMenu {
    top: 40px;
    bottom: unset;
    left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
}

div.desktopicons {
    bottom: unset;
    left: 0px;
    top: 45px;
}

div.taskbar {
    bottom: unset;
    position: fixed;
    top: 0px;
}

hr.context-menu {
    width: 80%;
}

.notification {
    top: 55px;
}