html,
body {
    background-image: url("../system/wallpaper/img05.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    overflow: hidden;
    height: 100%;
    user-select: none;
    padding: 0px;
    margin: 0px;
}

div.content {
    padding: 30px;
    background-color: #1b1b1b85;
    color: white;
    border: none;
    border-radius: 13px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 370px;
    height: 370px;
}

* {
    outline: none !important;
    /*transition: all 0.25s;*/
    transition: all 0.25s, transform 0s;
    /*cursor: url("../system/images/cursor.png"), default!important;*/
}

html {
    height: 100%;
}

button {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    color: white;
    vertical-align: middle;
    border-bottom: rgba(0, 0, 0, 0.055) 2px solid;
    font-size: unset;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    margin-top: 5px;
    position: inherit;
    bottom: 30px;
    right: 30px;
}

button:hover {
    border-bottom: dodgerblue 2px solid;
}

button:active {
    border-bottom: dodgerblue 2px solid;
}

input {
    background-color: rgba(0, 0, 0, 0.055);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: x-large;
    width: calc(100% - 17px);
    padding: 10px;
    margin-bottom: 0px;
    margin: 0px;
    border-bottom: rgba(0, 0, 0, 0.055) 2px solid;
}

input:hover {
    background-color: rgba(0, 0, 0, 0.100);
    border-bottom: dodgerblue 2px solid;
    margin-bottom: 0px;
}

input:focus {
    background-color: rgba(0, 0, 0, 0.200);
    border-bottom: dodgerblue 2px solid;
    margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

div.content>div.frameLeft {
    position: fixed;
    left: 30px;
    top: 30px;
    width: 40%;
}

div.content>div.frameRight {
    position: fixed;
    right: 30px;
    top: 30px;
    width: 55%;
}

div.content>div.frameBottom {
    position: fixed;
    left: 30px;
    bottom: 30px;
    height: 56%;
    width: calc(100% - 60px);
}

div.userSelector {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

button.user {
    widtH: 100px;
    height: 100px;
    padding: 0px;
    background-color: transparent;
    border: none;
    margin: 0px;
    border-radius: 13px;
    margin-left: 5px;
    margin-right: 5px;
    FONT-SIZE: UNSET;
}

button.user:hover {
    background-color: #1b1b1b3a;
}

button.user:active {
    background-color: #1b1b1b4a;
}

button.user>img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    ;
}

a {
    color: rgb(0, 128, 255);
}

a:hover {
    color: lightskyblue;
}

a:active {
    color: dodgerblue;
}

button.suggested {
    background-color: rgb(0, 89, 179);
    color: white;
}

button.suggested:hover {
    background-color: dodgerblue;
}

button.suggested:active {
    background-color: rgb(0, 60, 119);
}